<template>
  <div class="modal fade" id="photoUpdateModal" tabindex="-1" role="dialog" aria-labelledby="photoUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <!-- ALERT BOX -->
        <div class="alert alert-danger" role="alert" v-if="error && updatePhotoStatus">
          <ul v-if="updatePhotoStatus.constructor === Object">
            <li v-for="(val, key) in updatePhotoStatus" :key="key">
              {{ val }}
            </li>
          </ul>
          <p v-else>
            {{ updatePhotoStatus }}
          </p>
        </div>

        <!-- SPINNER - sign of loading -->
        <loading-spinner :displayed="loading"></loading-spinner>

          <form @submit.prevent="submitForm">
            <input type="hidden" name="_method" value="PATCH">
            <div class="form-group" v-if="photoTobeUpdated">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" name="description" :value="photoTobeUpdated.description" rows="3" placeholder="Photo description"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" @click="submitForm">Update</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import LoadingSpinner from '@/components/LoadingSpinner'

  export default {
    name: 'PhotoUpdateFormModal',

    components: {
      LoadingSpinner
    },

    computed: {
      ...mapGetters({
        error: 'error',
        loading: 'loading',
        photoTobeUpdated: '$_photo/photoTobeUpdated',
        updatePhotoStatus: '$_photo/updatePhotoStatus'
      })
    },

    methods: {
      submitForm () {
        let formElement = document.querySelector('form')
        this.$store.dispatch('$_photo/updatePhoto',
          {
            photoTobeUpdated: this.photoTobeUpdated,
            updatePhotoData: new FormData(formElement)
          }
        )
      }
    }
  }
</script>

<style>
</style>
