<template>
  <div>
    <!-- LOADING SPINNER -->
    <loading-spinner :displayed="loading"></loading-spinner>

    <!-- PHOTO DETAILS, LATER CAN BE EXTENDED -->
    <photo-list-item
      :photo="photo"
      :key="id"
    v-if="!loading && photo"></photo-list-item>

    <photo-update-form-modal></photo-update-form-modal>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import PhotoListItem from './PhotoListItem'
  import LoadingSpinner from '@/components/LoadingSpinner'
  import PhotoUpdateFormModal from './PhotoUpdateFormModal'

  export default {
    name: 'PhotoDetails',

    props: ['id'],

    components: {
      PhotoListItem, LoadingSpinner, PhotoUpdateFormModal
    },

    computed: {
      ...mapGetters({
        photo: '$_photo/photo',
        loading: 'loading',
        dataChanged: 'dataChanged'
      })
    },

    watch: {
      '$route': function () {
        this.getPhotoDetails()
      }
    },

    created () {
      if (!this.photo || this.photo.id !== this.id) {
        this.getPhotoDetails()
      } else if (this.dataChanged.photo.id === this.id) {
        this.getPhotoDetails()
        this.$store.commit('DATA_CHANGED_SET', { photo: { id: 0 } })
      }
    },

    methods: {
      getPhotoDetails () {
        this.$store.dispatch('$_photo/getPhotoDetails', this.id)
      }
    }
  }
</script>

<style>
</style>
