<template>
  <div>
    <!-- LOADING SPINNER -->
    <loading-spinner :displayed="initialLoading && loading"></loading-spinner>
    <vue-data-loading :loading="loading" :completed="browseCompleted" :listens="['pull-down', 'infinite-scroll']" @infinite-scroll="getPhotosForBrowse" @pull-down="getPhotosForBrowseRefresh">
      <!-- SLOT FOR PULL-TO-REFRESH -->
      <div slot="pull-down-before">Pull down to refresh the data</div>
      <div slot="pull-down-ready">Ready to refresh</div>
      <div slot="pull-down-loading">
        <loading-spinner :displayed="loading"></loading-spinner>
        Refreshing ...
      </div>

      <!-- PHOTO LIST -->
      <div v-if="photosBrowse.length">
        <photo-list-item
          v-for="photo in photosBrowse"
          :photo="photo"
          :key="photo.id"
        ></photo-list-item>

      <!-- SLOT FOR PULL-UP-TO-LOAD-MORE -->
      </div><div slot="pull-up-before">Pull up to load the data</div>
      <div slot="pull-up-ready">Ready to load</div>
      <div slot="pull-up-loading">
        <loading-spinner :displayed="loading"></loading-spinner>
        Loading...
      </div>

      <!-- SLOT FOR INFINITE-SCROLL -->
      <div slot="infinite-scroll-loading">
        <loading-spinner :displayed="loading"></loading-spinner>
        Loading...
      </div>
      <div slot="completed">Completed loading data</div>
    </vue-data-loading>

    <photo-update-form-modal></photo-update-form-modal>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import VueDataLoading from 'vue-data-loading'
  import PhotoListItem from './PhotoListItem'
  import LoadingSpinner from '@/components/LoadingSpinner'
  import PhotoUpdateFormModal from './PhotoUpdateFormModal'

  export default {
    name: 'PhotoBrowse',

    components: {
      VueDataLoading, PhotoListItem, LoadingSpinner, PhotoUpdateFormModal
    },

    computed: {
      ...mapGetters({
        photosBrowse: '$_photo/photosBrowse',
        browseCompleted: '$_photo/browseCompleted',
        initialLoading: 'initialLoading',
        loading: 'loading',
        dataChanged: 'dataChanged'
      })
    },

    methods: {
      ...mapActions({
        getPhotosForBrowse: '$_photo/getPhotosForBrowse',
        getPhotosForBrowseRefresh: '$_photo/getPhotosForBrowseRefresh'
      })
    },

    created () {
      if (!this.photosBrowse.length) {
        this.getPhotosForBrowse()
      } /* else if (this.dataChanged.photosBrowse) {
        this.getPhotosForBrowseRefresh()
        this.$store.commit('DATA_CHANGED_SET', { photosBrowse: false })
      } */
    }
  }
</script>

<style>
</style>
