<template>
  <div>
    <!-- LOADING SPINNER -->
    <loading-spinner :displayed="initialLoading && loading"></loading-spinner>

    <!-- VUE COMPONENT FOR INFINITE-SCROLL & PULL-TO-REFRESH -->
    <vue-data-loading :loading="loading" :completed="completed" :listens="['pull-down', 'infinite-scroll']" @infinite-scroll="getPhotos" @pull-down="getPhotosRefresh">
      <!-- SLOT FOR PULL-TO-REFRESH -->
      <div slot="pull-down-before">Pull down to refresh the data</div>
      <div slot="pull-down-ready">Ready to refresh</div>
      <div slot="pull-down-loading">
        <loading-spinner :displayed="loading"></loading-spinner>
        Refreshing ...
      </div>

      <!-- PHOTO LIST -->
      <div v-if="photos.length">
        <photo-list-item
          v-for="photo in photos"
          :photo="photo"
          :key="photo.id"
        ></photo-list-item>

      <!-- SLOT FOR PULL-UP-TO-LOAD-MORE -->
      </div><div slot="pull-up-before">Pull up to load the data</div>
      <div slot="pull-up-ready">Ready to load</div>
      <div slot="pull-up-loading">
        <loading-spinner :displayed="loading"></loading-spinner>
        Loading...
      </div>

      <!-- SLOT FOR INFINITE-SCROLL -->
      <div slot="infinite-scroll-loading">
        <loading-spinner :displayed="loading"></loading-spinner>
        Loading...
      </div>
      <div slot="completed">Completed loading data</div>
    </vue-data-loading>

    <photo-update-form-modal></photo-update-form-modal>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import VueDataLoading from 'vue-data-loading'
  import PhotoListItem from './PhotoListItem'
  import LoadingSpinner from '@/components/LoadingSpinner'
  import PhotoUpdateFormModal from './PhotoUpdateFormModal'

  export default {
    name: 'PhotoList',

    components: {
      VueDataLoading, PhotoListItem, LoadingSpinner, PhotoUpdateFormModal
    },

    computed: {
      ...mapGetters({
        photos: '$_photo/photos',
        completed: '$_photo/completed',
        initialLoading: 'initialLoading',
        loading: 'loading',
        dataChanged: 'dataChanged'
      })
    },

    methods: {
      ...mapActions({
        getPhotos: '$_photo/getPhotos',
        getPhotosRefresh: '$_photo/getPhotosRefresh'
      })
    },

    created () {
      if (!this.photos.length) {
        this.getPhotos()
      }/*  else if (this.dataChanged.photos) {
        this.getPhotosRefresh()
        this.$store.commit('DATA_CHANGED_SET', { photos: false })
      } */
    }
  }
</script>

<style>
</style>
