<template>
  <div class="card mb-3">
    <!-- CARD HEADER TITLE @ RIGHT -->
    <div class="card-header">
      <div class="media">
        <router-link class="d-flex pr-3" :to="{ name: 'user.show', params: { id: photo.owner.id }}">
          <img class="avatar" :src="photo.owner.avatar_src" alt="">
        </router-link>
        <div class="media-body">
          <a href="#" class="text-secondary">
            {{ photo.owner.name }}
            <br>
            <small>@{{ photo.owner.username}}</small>
          </a>
        </div>

        <!-- CARD HEADER MENU @ RIGHT  -->
        <div class="dropdown" v-show="isAuthUser(photo.owner.id)">
          <a class="mdi mdi-menu mdi-24px text-secondary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>

          <div class="dropdown-menu  dropdown-menu-right">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#photoUpdateModal" @click.prevent="setPhotoTobeUpdated(photo)">Edit</a>
            <a class="dropdown-item" href="#" @click.prevent="deletePhoto(photo)">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <!-- PHOTO DISPLAY  -->
    <img class="card-img-top" :src="photo.src" alt="Card image cap">

    <!-- PHOTO LIKE & COMMENT FEATURE  -->
    <div class="d-inline-block ml-3">
      <small class="text-secondary">Likes: {{ photo.likes.count }}, </small>
      <small class="text-secondary">Commens: {{ photo.comments.count }}</small>
    </div>

    <div class="d-inline-block ml-3">
      <a class="mdi mdi-heart mdi-24px" :class="likedColorClass" @click.prevent="togglePhotoLike(photo)"></a>
      <a class="mdi mdi-reply mdi-24px text-secondary" @click.prevent="createPhotoComment(photo)"></a>
    </div>

    <hr>

    <!-- CARD BODY -->
    <div class="card-body">
      <p class="card-text"> {{ photo.description }} </p>
    </div>

    <div class="card-footer text-muted">
      <timeago :since="photo.created + ' UTC'"></timeago>
    </div>

    <!-- COMMENT BLOCK -->
    <div class="pl-3 pt-2">
      <p v-if="photo.comments.count > 0">
        <button type="button" @click.prevent="viewPhotoComments(photo)" class="btn btn-outline-info btn-sm">Load comments</button>
      </p>
    </div>
  </div>
</template>

<script>
  import { mapMutations, mapActions } from 'vuex'
  import { isAuthUser } from '@/utils/common'

  export default {
    props: ['photo'],

    computed: {
      likedColorClass () {
        return this.photo.liked.is ? 'text-danger' : 'text-secondary'
      }
    },

    methods: {
      ...mapMutations({
        setPhotoTobeUpdated: '$_photo/SET_PHOTO_TOBE_UPDATED',
        setPhotoTobeDeleted: '$_photo/SET_PHOTO_TOBE_DELETED',
        setPhotoTobeCommented: '$_photo/SET_PHOTO_TOBE_COMMENTED'
      }),

      ...mapActions({
        storePhotoLike: '$_like/storePhotoLike',
        deletePhotoLike: '$_like/deletePhotoLike'
      }),

      isAuthUser (id) {
        return isAuthUser(id)
      },

      deletePhoto (photo) {
        this.$snotify.confirm('Are you sure to delete this photo', 'Photo Delete', {
          timeout: 5000,
          showProgressBar: true,
          closeOnClick: false,
          pauseOnHover: true,
          buttons: [
            {
              text: 'Yes',
              bold: false,
              action: (toast) => {
                this.setPhotoTobeDeleted(photo)
                this.$store.dispatch('$_photo/deletePhoto', photo)
                this.$snotify.remove(toast.id) // close confirm box
              }
            },
            {text: 'Cancel', bold: true, action: (toast) => { this.$snotify.remove(toast.id) }}
          ]
        })
      },

      createPhotoComment (photo) {
        this.setPhotoTobeCommented(photo)
        this.$router.push({ name: 'photo.comment.index', params: { id: photo.id }, hash: '#bottom', query: { comment: 'create' } })
      },

      viewPhotoComments (photo) {
        this.setPhotoTobeCommented(photo)
        this.$router.push({ name: 'photo.comment.index', params: { id: photo.id }, hash: '#bottom', query: { comment: 'view' } })
      },

      togglePhotoLike (photo) {
        if (photo.liked.is) {
          this.deletePhotoLike(photo)
        } else {
          this.storePhotoLike(photo)
        }
      }
    }
  }
</script>
