<template>
  <div class="card mb-3">
    <!-- CARD HEADER -->
    <div class="card-header">
      <div class="float-left"><h5 class="mb-0">Upload Photo</h5></div>
    </div>

    <!-- CARD BODY -->
    <div class="card-body">
      <!-- ALERT BOX -->
      <div class="alert alert-danger" role="alert" v-show="error && uploadPhotoStatus">
        {{ uploadPhotoStatus }}
      </div>

      <!-- SPINNER - sign of loading -->
      <loading-spinner :displayed="loading"></loading-spinner>

      <form @submit.prevent="submitForm" v-show="!loading">
        <div class="form-group">
          <label for="file">Your photo</label>
          <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3" placeholder="Photo description"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import LoadingSpinner from '@/components/LoadingSpinner'

  export default {
    name: 'PhotoUploadForm',

    computed: {
      ...mapGetters({
        error: 'error',
        loading: 'loading',
        uploadPhotoStatus: '$_account/uploadPhotoStatus'
      })
    },

    components: {
      LoadingSpinner
    },

    methods: {
      submitForm () {
        let formElement = document.querySelector('form')
        this.$store.dispatch('$_photo/uploadPhoto', new FormData(formElement))
      }
    }
  }
</script>

<style>
</style>
