<template>
  <section class="page">
    <comment-list></comment-list>
    <p id="bottom"></p>
  </section>
</template>

<script>
  import { CommentList } from '@/modules/Comment'

  export default {
    name: 'PhotoCommentIndex',

    components: {
      CommentList
    }
  }
</script>
