<template>
  <section class="page">
    <child-comment-list></child-comment-list>
    <p id="bottom"></p>
  </section>
</template>

<script>
  import { ChildCommentList } from '@/modules/Comment'

  export default {
    name: 'PhotoCommentChildcommentIndex',

    components: {
      ChildCommentList
    }
  }
</script>
