<template>
  <section class="page">
    <div class="inner-addon right-addon mb-2 mt-2">
      <i class="mdi mdi-magnify mdi-24px text-secondary"></i>
      <input v-model="question" type="text" class="form-control" placeholder="Search ...">
    </div>

    <div class="card" v-show="question !== ''">
      <div class="card-body" v-if="thinking">
        <p>{{ answer.info }}</p>
      </div>

      <div class="card-body" v-else>
        <p>Photos:
          <div class="masonry" v-if="answer.photos instanceof Array">
            <router-link class="d-block" style="padding-bottom: 2px"
              v-for="photo in answer.photos"
              :key="photo.id"
              :to="{ name: 'photo.show', params: { id: photo.id } }">
              <img class="item" :src="photo.src" alt="Generic placeholder image">
            </router-link>
          </div>
          <span v-else> {{ answer.photos }} </span>
        </p>

        <p>Comments:
          <ul class="circle" v-if="answer.comments instanceof Array">
            <li v-for="comment in answer.comments">
              <!-- a href="#" @click.prevent="viewPhotoComments(comment)"
                v-if="comment.commentable_obj.type === 'App\\Photo'">
                {{ comment.content.substr(0, 25) + ' ... ' }}
              </a -->

              <a href="#" @click.prevent="viewChildComments(comment)">
                {{ comment.content.substr(0, 25) + ' ... ' }}
              </a>
            </li>
          </ul>
          <span v-else> {{ answer.comments }} </span>
        </p>

        <p>Users:
          <ul class="circle" v-if="answer.users instanceof Array">
            <li v-for="user in answer.users">
              <router-link :to="{ name: 'user.show', params: { id: user.id }}">
                <img class="avatar" :src="user.avatar_src" alt="">
              </router-link>
            </li>
          </ul>
          <span v-else> {{ answer.users }} </span>
        </p>
      </div>
    </div>
    <div class="mb-3"></div>

    <photo-browse></photo-browse>
  </section>
</template>

<script>
import { mapMutations } from 'vuex'
import { PhotoBrowse } from '@/modules/Photo'
// import { HTTP } from '@/utils/http-common'
import axios from 'axios'
import { PROD_API_BASE_URL } from '@/config'
import _ from 'lodash'

export default {
  components: {
    PhotoBrowse
  },
  data () {
    return {
      thinking: false,
      question: '',
      answer: {
        info: '',
        photos: '',
        comments: '',
        users: ''
      }
    }
  },
  watch: {
    // whenever question changes, this function will run
    question: function (newQuestion, oldQuestion) {
      this.thinking = true
      this.answer.info = 'Waiting for you to stop typing...'
      if (this.question !== '') this.getAnswer()
    }
  },
  methods: {
    ...mapMutations({
      setPhotoTobeCommented: '$_photo/SET_PHOTO_TOBE_COMMENTED',
      setCommentTobeReplied: '$_comment/SET_COMMENT_TOBE_REPLIED'
    }),

    // viewPhotoComments (comment) {
    //   this.setPhotoTobeCommented(photo)
    //   this.$router.push(
    //     {
    //       name: 'photo.comment.index',
    //       params: { id: comment.commentable_obj.id },
    //       hash: '#bottom',
    //       query: { comment: 'view', cursor: btoa(comment.created), focus: 'yes' }
    //     })
    // },
    viewChildComments (comment) {
      this.setCommentTobeReplied(comment)
      let cid = comment.commentable_obj.grandparent_comment_id || comment.id
      this.$router.push(
        {
          name: 'photo.comment.childcomment.index',
          params: { pid: comment.commentable_obj.photo_id, cid: cid },
          hash: '#bottom',
          query: { comment: 'view', cursor: btoa(comment.created), focus: 'yes' }
        })
    },

    // _.debounce is a function provided by lodash to limit how
    // often a particularly expensive operation can be run.
    // In this case, we want to limit how often we access
    // yesno.wtf/api, waiting until the user has completely
    // finished typing before making the ajax request. To learn
    // more about the _.debounce function (and its cousin
    // _.throttle), visit: https://lodash.com/docs#debounce
    getAnswer: _.debounce(
      function () {
        var vm = this

        vm.answer = {
          info: '',
          photos: '',
          comments: '',
          users: ''
        }

        vm.thinking = true
        vm.answer.info = 'Searching ...'

        axios.all([
          axios.get(`${PROD_API_BASE_URL}/search?model=Photo&query=${this.question}`),
          axios.get(`${PROD_API_BASE_URL}/search?model=Comment&query=${this.question}`),
          axios.get(`${PROD_API_BASE_URL}/search?model=User&query=${this.question}`)
        ])
        .then(axios.spread((photosRes, commentsRes, usersRes) => {
          if (photosRes.data.message) {
            vm.answer.photos = photosRes.data.message.content
          } else if (photosRes.data.photos) {
            vm.answer.photos = photosRes.data.photos
          }

          if (commentsRes.data.message) {
            vm.answer.comments = commentsRes.data.message.content
          } else if (commentsRes.data.comments) {
            vm.answer.comments = commentsRes.data.comments
          }

          if (usersRes.data.message) {
            vm.answer.users = usersRes.data.message.content
          } else if (usersRes.data.users) {
            vm.answer.users = usersRes.data.users
          }
        }))
        .catch(function (error) {
          vm.answer.photos = vm.answer.comments = vm.answer.users = 'Error! Could not reach the API. ' + error
          console.log(error)
        })
        .finally(function () {
          vm.thinking = false
          vm.answer.info = ''
        })
      },
      // This is the number of milliseconds we wait for the
      // user to stop typing.
      500
    )
  }
}
</script>
<style scoped>
  /* enable absolute positioning */
  .inner-addon {
      position: relative;
  }

  /* style icon */
  .inner-addon .mdi {
    position: absolute;
    padding: 2px;
    pointer-events: none;
  }

  /* align icon */
  .left-addon .mdi  { left:  0px;}
  .right-addon .mdi { right: 0px;}

  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
</style>
