<template>
  <section class="page">
    <div class="card mb-3">
      <div class="card-header">
        Something error!
      </div>

      <div class="card-body">
        <h4 class="card-title">Sorry, there is something error!</h4>

        <div class="text-center">
          <router-link :to="{ name: 'home' }" class="btn btn-secondary">Back home</router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    //
  }
</script>

<style>
</style>
