<template>
  <section class="page">
    <photo-list></photo-list>
  </section>
</template>

<script>
  import { PhotoList } from '@/modules/Photo'

  export default {

    components: {
      PhotoList
    }
  }
</script>
