<template>
  <section class="page">
    <div class="card mb-3">
      <div class="card-header">
        <span class="mx-auto text-secondary">Welcome</span>
      </div>

      <div class="card-body mx-auto">
        <p>
          Thank you for visiting Instaclone. Have a nice day!
        </p>
        <div class="well" style="font-size: .7rem;">
          <h6>Try login with:</h6>
          <dl>
            <dt>
              Email:
            </dt>
            <dd>
              "kory58@example.org"
            </dd>
            <dt>
              Password:
            </dt>
            <dd>
              "secret"
            </dd>
          </dl>
        </div>
        <div class="text-center">
          <router-link to="/login" class="btn btn-secondary">Login</router-link>
          <router-link to="/register" class="btn btn-secondary">Register</router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    //
  }
</script>

<style>
</style>
