<template>
  <section class="page">
    <account-login></account-login>
  </section>
</template>

<script>
  import { AccountLogin } from '@/modules/Account'
  export default {
    components: {
      AccountLogin
    }
  }
</script>
