<template>
  <section class="page">
    <account-details :id="id"></account-details>
  </section>
</template>

<script>
  import { AccountDetails } from '@/modules/Account'
  import { jwtDecode } from '@/utils/common'

  export default {
    computed: {
      id () {
        return this.$route.params.id || jwtDecode().sub
      }
    },

    components: {
      AccountDetails
    }
  }
</script>

