<template>
  <section class="page">
    <account-register></account-register>
  </section>
</template>

<script>
  import { AccountRegister } from '@/modules/Account'
  export default {
    components: {
      AccountRegister
    }
  }
</script>

<style>
</style>
