<template>
  <section class="page">
    <div class="card mb-3">
      <div class="card-header">
        <div class="float-left">
          <h5 class="mb-0">
            <router-link :to="{ name: 'settings' }" class="text-secondary">Settings</router-link>
          </h5>
        </div>
      </div>

      <!-- CARD BODY -->
      <div class="card-body">
        <!-- ALERT BOX -->
        <div class="alert alert-danger" role="alert" v-if="error && settingsStatus">
          <ul v-if="settingsStatus.constructor === Object">
            <li v-for="(val, key) in settingsStatus" :key="key">
              {{ val }}
            </li>
          </ul>
          <p v-else>
            {{ settingsStatus }}
          </p>
        </div>

        <!-- SPINNER - sign of loading -->
        <loading-spinner :displayed="loading"></loading-spinner>

        <div v-if="user">
          <router-view name="AccountUserAvatar"
            :user="user"></router-view>

          <router-view name="AccountUserDetails"
            :user="user"></router-view>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { jwtDecode } from '@/utils/common'
  import LoadingSpinner from '@/components/LoadingSpinner'
  import AccountUserAvatar from '../_components/AccountUserAvatar'
  import AccountUserDetails from '../_components/AccountUserDetails'

  export default {
    components: {
      LoadingSpinner, AccountUserAvatar, AccountUserDetails
    },

    computed: {
      ...mapGetters({
        error: 'error',
        loading: 'loading',
        dataChanged: 'dataChanged',
        user: '$_account/user',
        getAccountDetailsStatus: '$_account/getAccountDetailsStatus',
        updateAccountUserAvatarStatus: '$_account/updateAccountUserAvatarStatus',
        updateAccountUserDetailsStatus: '$_account/updateAccountUserDetailsStatus'
      }),

      authId () {
        return jwtDecode().sub
      },

      alertTypeClass () {
        return this.error ? 'alert-danger' : 'alert-info'
      },

      settingsStatus () {
        return this.updateAccountUserAvatarStatus || this.updateAccountUserDetailsStatus.isError
      }
    },

    created () {
      if (this.user.id !== this.authId) {
        this.getAccountDetails()
      } else if (this.dataChanged.user.id === this.authId) {
        this.getAccountDetails()
        this.$store.commit('DATA_CHANGED_SET', { user: { id: 0 } })
      }
    },

    methods: {
      getAccountDetails () {
        this.$store.dispatch('$_account/getAccountDetails', this.authId)
      }
    }
  }
</script>

<style scoped>
  a:hover {
    text-decoration: none;
  }
</style>
