<template>
  <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        <router-link class="navbar-brand mx-auto text-secondary" :to="{name: 'home'}"><strong>INSTACLONE</strong></router-link>
      </nav>
  </div>
</template>

<script>
export default {
  //
}
</script>

<style scoped>
.row > .navbar.fixed-top {
      box-shadow: 2px 2px 4px 0 #ccc;
}
</style>
