<template>
  <div class="row" :class="{ 'd-none': !loggedIn }">
    <nav class="navbar navbar-expand-xs navbar-light bg-light fixed-bottom col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">

      <router-link class="nav-link mdi mdi-home mdi-36px text-secondary" to="/"></router-link>
      <router-link class="nav-link mdi mdi-magnify mdi-36px text-secondary" to="/browse"></router-link>
      <router-link class="nav-link mdi mdi-plus-box mdi-36px text-secondary" to="/upload"></router-link>
      <router-link class="nav-link mdi mdi-heart mdi-36px text-secondary" to="/notifications"></router-link>
      <router-link class="nav-link mdi mdi-account mdi-36px text-secondary" to="/profile"></router-link>

    </nav>
</div>
</template>

<script>
  import store from '@/store'

  export default {
    data () {
      return {}
    },
    computed: {
      loggedIn () {
        let token = store.getters.authToken
        return token ? 1 : 0
      }
    }
  }
</script>

<style scoped>
  .navbar, .nav-link {
    padding: 0;
  }

  .navbar {
    justify-content: space-evenly;
  }

  .row > .navbar.fixed-bottom {
    box-shadow: 2px -1px 2px 0 #ccc;
  }
</style>
