<template>
  <div class="pt-3 pb-5" v-if="displayed">
    <rotate-square2 class="mx-auto"></rotate-square2>
  </div>
</template>

<script>
  import { RotateSquare2 } from 'vue-loading-spinner'

  export default {
    props: ['displayed'],

    components: {
      RotateSquare2
    }
  }
</script>

