<template>
  <div class="row mb-4 mt-1">
    <div class="col-10">
      <img class="avatar" :src="user.avatar_src" alt="Generic placeholder image">
    </div>

    <div class="col-2">
      <router-link class="mdi mdi-pencil mdi-24px text-secondary" :to="{ name: 'user-avatar-update' }"></router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AccountUserAvatar',

    props: ['user']
  }
</script>
