<template>
  <div class="row mt-1">
    <div class="col-12">
      <h5 class="mb-0">Update user details</h5>
      <hr class="mb-3 mt-0">

      <form @submit.prevent="submitForm">
        <input type="hidden" name="_method" value="PATCH">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" id="name" name="name" :value="user.name" rows="3" placeholder="Your fullname" required></input>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" :value="user.username" rows="3" placeholder="Your username" required></input>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" :value="user.email" rows="3" placeholder="Your email" required></input>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" name="gender" required>
            <option
              v-for="(gender, index) in genders"
              :key="index"
              :value="gender.type" :selected="user.gender === gender.type">{{ gender.value }}</option>>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password (<small>If left blank, will not be changed!</small>)</label>
          <input type="password" class="form-control" id="password" name="password" rows="3" placeholder="If you want a new password, fill it here!"></input>
        </div>
        <div class="form-group">
          <label for="bio">Biography</label>
          <textarea class="form-control" id="biography" name="biography" rows="3" :value="user.biography" placeholder="Your biography"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Update</button>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AccountUserDetailsUpdate',

    props: ['user'],

    data () {
      return {
        genders: [{type: 'male', value: 'Male'}, {type: 'female', value: 'Female'}]
      }
    },

    methods: {
      submitForm () {
        let formElement = document.querySelector('form')
        this.$store.dispatch('$_account/updateAccountUserDetails', new FormData(formElement))
      }
    }
  }
</script>

<style scoped>
  p {
      margin-bottom: 0;
  }
</style>
