<template>
  <div class="card mb-3">
    <!-- CARD HEADER -->
    <div class="card-header">
      <div class="float-left"><h5 class="mb-0">Profile</h5></div>
      <div class="dropdown float-right" v-if="isAuthUser(id)">
        <a class="mdi mdi-menu mdi-24px text-secondary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>

        <div class="dropdown-menu  dropdown-menu-right">
          <router-link class="dropdown-item" :to="{ name: 'settings' }">Settings</router-link>
          <a class="dropdown-item" @click.prevent="logoutAccount">Logout</a>
        </div>
      </div>
      <div class="float-right" v-if="user && !isAuthUser(id)">
        <button class="btn btn-sm" :class="followedColorClass" @click.prevent="toggleUserFollow(user)">
          {{ (user.is_followed) ? 'Followed' : 'Follow' }}
        </button>
      </div>
    </div>

    <!-- SPINNER - sign of loading -->
    <loading-spinner :displayed="loading"></loading-spinner>

    <!-- CARD BODY -->
    <div class="card-body" v-if="user">
      <div class="media mt-3 mb-3">
        <div class="d-flex pr-3">
          <img class="avatar" :src="user.avatar_src" alt="Generic placeholder image">
        </div>
        <div class="media-body">
          <p>{{ user.name }}</p>

          <p>
            <small>
              <span class="text-secondary ml-3">
                Followers: {{ user.followers.count }}
              </span>
              <span class="text-secondary ml-3">
                Followings: {{ user.followings.count }}
              </span>
            </small>
          </p>

          <p v-if="user.biography">
            {{ user.biography }}
          </p>
          <p v-else>
            <em>Go to Settings at the top-right burger menu &amp; update your account to fill in your biography!</em>
          </p>

        </div>
      </div>

      <hr>
      <div class="masonry">
        <router-link class="d-block" style="padding-bottom: 2px"
          v-for="photo in user.photos.data"
          :key="photo.id"
          :to="{ name: 'photo.show', params: { id: photo.id } }">
          <img class="item" :src="photo.src" alt="Generic placeholder image">
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { isAuthUser } from '@/utils/common'
  import LoadingSpinner from '@/components/LoadingSpinner'

  export default {
    name: 'AccountDetails',

    props: ['id'],

    components: {
      LoadingSpinner
    },

    computed: {
      ...mapGetters({
        error: 'error',
        loading: 'loading',
        dataChanged: 'dataChanged',
        user: '$_account/user',
        getAccountDetailsStatus: '$_account/getAccountDetailsStatus'
      }),

      alertTypeClass () {
        return this.error ? 'alert-danger' : 'alert-info'
      },
      followedColorClass () {
        return this.user.is_followed ? 'btn-success' : 'btn-primary'
      }
    },

    created () {
      if (!this.user || this.user.id !== this.id) {
        this.getAccountDetails()
      } else if (this.dataChanged.user.id === this.id) {
        this.getAccountDetails()
        this.$store.commit('DATA_CHANGED_SET', { user: { id: 0 } })
      }
    },

    watch: {
      '$route': function () {
        this.getAccountDetails()
      }
    },

    methods: {
      ...mapActions({
        storeFollowing: '$_follow/storeFollowing',
        deleteFollowing: '$_follow/deleteFollowing'
      }),

      logoutAccount () {
        this.$store.dispatch('$_account/logoutAccount')
      },

      getAccountDetails () {
        this.$store.dispatch('$_account/getAccountDetails', this.id)
      },

      isAuthUser (id) {
        return isAuthUser(id)
      },

      toggleUserFollow (user) {
        if (user.is_followed) {
          this.deleteFollowing(user)
        } else {
          this.storeFollowing(user)
        }
      }
    }
  }
</script>

