<template>
  <div class="row mt-1">
    <div class="col-12">
      <h5 class="mb-0">Upload Avatar</h5>
      <hr class="mb-3 mt-0">

      <form @submit.prevent="submitForm">
        <input type="hidden" name="_method" value="PATCH">
        <div class="form-group">
          <label for="file">Your photo</label>
          <input type="file" class="form-control-file" id="avatar" name="avatar">
        </div>

        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AccountUserAvatarUpdate',

    methods: {
      submitForm () {
        let formElement = document.querySelector('form')
        this.$store.dispatch('$_account/updateAccountUserAvatar', new FormData(formElement))
      }
    }
  }
</script>
