<template>
  <div class="card mb-3">
    <!-- CARD HEADER -->
    <div class="card-header">
      <div class="float-left"><h5 class="mb-0">Login</h5></div>
    </div>

    <!-- CARD BODY -->
    <div class="card-body">
      <!-- ALERT BOX -->
      <div class="alert alert-danger" role="alert" v-show="error && loginAccountStatus">
        {{ loginAccountStatus }}
      </div>

      <!-- SPINNER - sign of loading -->
      <loading-spinner :displayed="loading"></loading-spinner>

      <!-- LOGIN FORM -->
      <form @submit.prevent="submitForm" v-show="!loading">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" rows="3" placeholder="Your email" required></input>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" rows="3" placeholder="Your password" required></input>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import LoadingSpinner from '@/components/LoadingSpinner'

  export default {
    name: 'AccountLogin',

    computed: {
      ...mapGetters({
        error: 'error',
        loading: 'loading',
        loginAccountStatus: '$_account/loginAccountStatus'
      })
    },

    components: {
      LoadingSpinner
    },

    methods: {
      submitForm () {
        let formElement = document.querySelector('form')
        let formData = new FormData(formElement)
        this.$store.dispatch('$_account/loginAccount', formData)
      }
    }
  }
</script>

<style>
</style>
