<template>
  <div class="card mb-3">
    <!-- CARD HEADER -->
    <div class="card-header">
      <div class="float-left"><h5 class="mb-0">Register</h5></div>
    </div>

    <!-- CARD BODY -->
    <div class="card-body">
      <!-- ALERT BOX -->
      <div class="alert alert-danger" role="alert" v-if="error && registerAccountStatus">
        <ul v-if="registerAccountStatus.constructor === Object">
          <li v-for="(val, key) in registerAccountStatus" :key="key">
            {{ val }}
          </li>
        </ul>
        <p v-else>
          {{ registerAccountStatus }}
        </p>
      </div>

      <!-- SPINNER - sign of loading -->
      <loading-spinner :displayed="loading"></loading-spinner>

      <!-- REGISTRATION FORM -->
      <form @submit.prevent="submitForm" v-show="!loading">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" id="name" name="name" rows="3" placeholder="Your fullname" required></input>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" rows="3" placeholder="Your username" required></input>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" rows="3" placeholder="Your email" required></input>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" rows="3" placeholder="Your password" required></input>
        </div>
        <div class="form-group">
          <label for="bio">Biography</label>
          <textarea class="form-control" id="biography" name="biography" rows="3" placeholder="Your biography"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Register</button>
      </form>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import LoadingSpinner from '@/components/LoadingSpinner'

  export default {
    name: 'AccountRegister',

    computed: {
      ...mapGetters({
        error: 'error',
        loading: 'loading',
        registerAccountStatus: '$_account/registerAccountStatus'
      })
    },

    components: {
      LoadingSpinner
    },

    methods: {
      submitForm () {
        let formElement = document.querySelector('form')
        this.$store.dispatch('$_account/registerAccount', new FormData(formElement))
      }
    }
  }
</script>

<style>
</style>
