<template>
  <div class="row mt-2">
    <div class="col-10">
      <p>{{ user.name }}</p>

      <p><small><span>Followers: {{ user.followers.count }}</span> <a class="text-secondary ml-3" href="#">Followings: {{ user.followings.count }}</a></small></p>

      <p v-if="user.biography">
        {{ user.biography }}
      </p>
      <p v-else>
        <em>Go to Settings at the top-right burger menu &amp; update your account to fill in your biography!</em>
      </p>
    </div>

    <div class="col-2">
      <router-link class="mdi mdi-pencil mdi-24px text-secondary" :to="{ name: 'user-details-update' }"></router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AccountUserDetails',

    props: ['user']
  }
</script>

<style scoped>
  p {
      margin-bottom: 0;
  }
</style>
