<template>
    <div class="card mb-5">
    <!-- CARD HEADER -->
    <div class="card-header">
      <div>
        <h5 class="mb-0">
          <a class="mdi mdi-arrow-left-bold mdi-24px text-secondary" @click.prevent="$router.go(-1)"></a>
          Child Comments
        </h5>
        </div>
    </div>

    <!-- CARD BODY -->
    <div class="card-body">
      <div class="media mt-3 mb-3" :class="commentHighligtedClass">
        <div class="d-flex pr-3">
          <img class="avatar" :src="commentTobeReplied.commenter.avatar_src" alt="Generic placeholder image">
        </div>
        <div class="media-body">
          <h5 class="mt-0"> {{ commentTobeReplied.commenter.name }}</h5>
          <span class="text-secondary">
            @{{ commentTobeReplied.commenter.username }}
          </span>
          <p>
            {{ commentTobeReplied.content }}
          </p>
          <div class="d-inline-block ml-3">
            <small class="text-secondary"><timeago :since="commentTobeReplied.created + ' UTC'"></timeago>, </small>
            <small class="text-secondary">Likes: {{ commentTobeReplied.likes.count }}, </small>
            <small class="text-secondary">Commens: {{ commentTobeReplied.child_comments.count }}</small>
          </div>
        </div>
      </div>

      <hr class="mb-2">

      <div v-if="childCommentsAscCreated">
        <div class="alert alert-info" role="alert" v-show="childCompleted">
          {{ getChildCommentsStatus }}
        </div>
        <div class="text-center" v-show="!loading && !childCompleted">
          <a class="mdi mdi-plus-circle mdi-48px text-secondary" @click.prevent="getMoreChildComments"></a>
        </div>
        <loading-spinner :displayed="loading && !childCompleted"></loading-spinner>

        <div id="comment-block">
          <child-comment-list-item
            v-for="comment in childCommentsAscCreated"
            :comment="comment"
            :key="comment.id"
          ></child-comment-list-item>
        </div>
      </div>
    </div>

    <!-- COMMENT FORM -->
    <div class="row">
      <form @submit.prevent="submitChildComment" class="form-inline" name="commentForm">
        <div class="input-group col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 fixed-bottom" id="comment-input">
          <textarea type="text" class="form-control" name="content" id="content" placeholder="Your comment" required></textarea>
          <div class="input-group-addon">
            <button type="submit"><i class="mdi mdi-send mdi-36px text-secondary"></i></button>
          </div>
        </div>
      </form>
    </div>

    <comment-update-form-modal></comment-update-form-modal>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import ChildCommentListItem from './ChildCommentListItem'
  import LoadingSpinner from '@/components/LoadingSpinner'
  import CommentUpdateFormModal from './CommentUpdateFormModal'

  export default {
    name: 'ChildCommentList',

    data () {
      return {
        prevScrollHeight: 0,
        prevScrollTop: 0,
        timeout: false
      }
    },

    components: {
      ChildCommentListItem, LoadingSpinner, CommentUpdateFormModal
    },

    computed: {
      ...mapGetters({
        childComments: '$_comment/childComments',
        childCompleted: '$_comment/childCompleted',
        getChildCommentsStatus: '$_comment/getChildCommentsStatus',
        commentTobeReplied: '$_comment/commentTobeReplied',
        loading: 'loading'
      }),
      childCommentsAscCreated () {
        return this.childComments.sort(this.compare)
      },
      commentHighligtedClass () {
        let highlightClass = ''
        if (!this.timeout && btoa(this.commentTobeReplied.created) === this.$route.query.cursor) {
          highlightClass = 'highlight'
        }
        return highlightClass
      }
    },

    methods: {
      ...mapActions({
        getChildComments: '$_comment/getChildComments'
      }),
      compare (a, b) {
        if (a.created < b.created) {
          return -1
        }
        if (a.created > b.created) {
          return 1
        }
        return 0
      },

      getMoreChildComments () {
        this.prevScrollHeight = document.documentElement.scrollHeight
        this.prevScrollTop = document.documentElement.scrollTop

        this.getChildComments()
      },

      submitChildComment () {
        let formElement = document.querySelector('form')
        this.$store.dispatch('$_comment/submitChildComment', new FormData(formElement))
          .then(() => {
            document.commentForm.content.value = ''
          })
      }
    },

    created () {
      this.$store.commit('$_comment/RESET_CHILD_COMMENTS')
      this.getChildComments()
    },

    updated () {
      let commentBox = document.querySelector('#comment-block')
      if (commentBox) {
        let newScrollHeight = document.documentElement.scrollHeight
        let newScrollTop = document.documentElement.scrollTop

        if (this.prevScrollHeight > 0 && newScrollHeight > this.prevScrollHeight) {
          document.documentElement.scrollTop = (newScrollHeight - this.prevScrollHeight) - (newScrollTop - 2 * this.prevScrollTop)
        }
      }
      let route = this.$route
      if (route.hash && !(this.prevScrollHeight || this.prevScrollTop)) document.querySelector(route.hash).scrollIntoView()
      if (route.query.comment === 'create') document.commentForm.content.focus()
    },

    mounted () {
      setTimeout(() => {
        this.timeout = true
      }, 1000)
    }
  }
</script>

<style>
</style>
