<template>
  <div class="modal fade" id="commentUpdateModal" tabindex="-1" role="dialog" aria-labelledby="commentUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <!-- ALERT BOX -->
        <div class="alert alert-danger" role="alert" v-if="error && updateCommentStatus">
          <ul v-if="updateCommentStatus.constructor === Object">
            <li v-for="(val, key) in updateCommentStatus" :key="key">
              {{ val }}
            </li>
          </ul>
          <p v-else>
            {{ updateCommentStatus }}
          </p>
        </div>

        <!-- SPINNER - sign of loading -->
        <loading-spinner :displayed="loading"></loading-spinner>

          <form @submit.prevent="submitForm">
            <!-- <input type="hidden" name="_method" value="PATCH"> -->
            <div class="form-group" v-if="commentTobeUpdated">
              <label for="content">Your comment</label>
              <textarea class="form-control" v-model="commentUpdateDataContentCP" id="content" name="content" rows="3" placeholder="Comment content"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" @click="submitForm">Update</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import LoadingSpinner from '@/components/LoadingSpinner'

  export default {
    name: 'CommentFormModal',

    data () {
      return {
        commentUpdateData: {
          content: '',
          commentTobeUpdatedId: 0
        }
      }
    },

    components: {
      LoadingSpinner
    },

    computed: {
      ...mapGetters({
        error: 'error',
        loading: 'loading',
        commentTobeUpdated: '$_comment/commentTobeUpdated',
        updateCommentStatus: '$_comment/updateCommentStatus'
      }),
      commentUpdateDataContentCP: {
        get () {
          let content = this.commentUpdateData.content
          let retVal = content

          if (this.commentTobeUpdated) {
            if (content === '' || this.commentUpdateData.commentTobeUpdatedId !== this.commentTobeUpdated.id) {
              retVal = this.commentTobeUpdated.content
              this.commentUpdateData.content = retVal
              this.commentUpdateData.commentTobeUpdatedId = this.commentTobeUpdated.id
            }
          }

          return retVal
        },
        set (newVal) {
          this.commentUpdateData.content = newVal
        }
      }
    },

    methods: {
      submitForm () {
        // let formElement = document.querySelector('form')
        var formData = new FormData()
        formData.append('_method', 'PATCH')
        formData.append('content', this.commentUpdateData.content)

        // for (var [key, value] of formData.entries()) {
        //   console.log(key, value)
        // }

        this.$store.dispatch('$_comment/updateComment',
          {
            commentTobeUpdated: this.commentTobeUpdated,
            updateCommentData: formData // new FormData(formElement)
          }
        )
      }
    }
  }
</script>

<style>
</style>
