<template>
  <div class="media" :class="commentHighligtedClass">
    <!-- MEDIA - COMMENTER AVATAR-->
    <router-link class="d-flex pr-3" :to="{ name: 'user.show', params: { id: comment.commenter.id }}">
      <img class="avatar" :src="comment.commenter.avatar_src" alt="">
    </router-link>

    <!-- MEDIA BODY -->
    <div class="media-body">
      <!-- COMMENTER NAME & USERNAME -->
      <h5 class="mt-0"> {{ comment.commenter.name }}</h5>

      <span class="text-secondary">
        @{{ comment.commenter.username }}
      </span>

      <!-- COMMENT CONTENT -->
      <p>
        {{ comment.content }}
      </p>

      <div class="d-inline-block ml-3">
        <small class="text-secondary"><timeago :since="comment.created + ' UTC'"></timeago>, </small>
        <small class="text-secondary">Likes: {{ comment.likes.count }}, </small>
        <small class="text-secondary">Commens: {{ comment.child_comments.count }}</small>
      </div>

      <!-- COMMENT REPLY BUTTON -->
      <p>
        <small>
          <a class="text-secondary ml-3" @click.prevent="replyComment(comment)">Reply</a>
        </small>
        <template v-if="isAuthUser(comment.commenter.id)">
          <small>
            <a class="text-secondary ml-3" href="#" data-toggle="modal" data-target="#commentUpdateModal" @click.prevent="setCommentTobeUpdated(comment)">Edit</a>
          </small>
          <small>
            <a class="text-secondary ml-3" @click.prevent="deleteComment(comment)">Delete</a>
          </small>
        </template>
      </p>

      <!-- COMMENT BLOCK -->
      <div class="pl-3 pt-2">
        <p v-if="comment.child_comments.count > 0">
          <button type="button" @click.prevent="viewChildComments(comment)" class="btn btn-outline-info btn-sm">Load comments</button>
        </p>
      </div>
    </div>

    <!-- COMMENT LIKE BUTTON -->
    <div class="d-inline-block ml-1">
      <a class="mdi mdi-heart mdi-18px" :class="likedColorClass" @click.prevent="toggleCommentLike(comment)"></a>
    </div>
  </div>
</template>

<script>
  import { mapMutations, mapActions } from 'vuex'
  import { isAuthUser } from '@/utils/common'

  export default {
    name: 'CommentListItem',

    props: ['comment'],

    data () {
      return {
        timeout: false
      }
    },

    computed: {
      ...mapMutations({
        commentTobeUpdated: '$_comment/commentTobeUpdated'
      }),
      likedColorClass () {
        return this.comment.liked.is ? 'text-danger' : 'text-secondary'
      },
      commentHighligtedClass () {
        let highlightClass = ''
        if (!this.timeout && btoa(this.comment.created) === this.$route.query.cursor) {
          highlightClass = 'highlight'
        }
        return highlightClass
      }
    },

    methods: {
      ...mapMutations({
        setCommentTobeReplied: '$_comment/SET_COMMENT_TOBE_REPLIED',
        setCommentTobeUpdated: '$_comment/SET_COMMENT_TOBE_UPDATED',
        setCommentTobeDeleted: '$_comment/SET_COMMENT_TOBE_DELETED'
      }),

      ...mapActions({
        storeCommentLike: '$_like/storeCommentLike',
        deleteCommentLike: '$_like/deleteCommentLike'
      }),

      isAuthUser (id) {
        return isAuthUser(id)
      },

      replyComment (comment) {
        this.setCommentTobeReplied(comment)
        this.$router.push(
          {
            name: 'photo.comment.childcomment.index',
            params: { pid: comment.commentable_obj.photo_id, cid: comment.id },
            hash: '#bottom',
            query: { comment: 'create' }
          })
      },

      viewChildComments (comment) {
        this.setCommentTobeReplied(comment)
        this.$router.push(
          {
            name: 'photo.comment.childcomment.index',
            params: { pid: comment.commentable_obj.photo_id, cid: comment.id },
            hash: '#bottom',
            query: { comment: 'view' }
          })
      },

      deleteComment (comment) {
        this.$snotify.confirm('Are you sure to delete this comment', 'Comment Delete', {
          timeout: 5000,
          showProgressBar: true,
          closeOnClick: false,
          pauseOnHover: true,
          buttons: [
            {
              text: 'Yes',
              bold: false,
              action: (toast) => {
                this.setCommentTobeDeleted(comment)
                this.$store.dispatch('$_comment/deleteComment', comment)
                this.$snotify.remove(toast.id) // close confirm box
              }
            },
            {text: 'Cancel', bold: true, action: (toast) => { this.$snotify.remove(toast.id) }}
          ]
        })
      },

      toggleCommentLike (comment) {
        if (comment.liked.is) {
          this.deleteCommentLike({
            pid: comment.commentable_obj.photo_id,
            commentTobeUnliked: comment})
        } else {
          this.storeCommentLike({
            pid: comment.commentable_obj.photo_id,
            commentTobeLiked: comment})
        }
      }
    },
    mounted () {
      setTimeout(() => {
        this.timeout = true
      }, 1000)
    }
  }
</script>
