<template>
  <div class="card mb-5">
    <!-- CARD HEADER -->
    <div class="card-header">
      <div>
        <h5 class="mb-0">
          <a class="mdi mdi-arrow-left-bold mdi-24px text-secondary" @click.prevent="$router.go(-1)"></a>
          Comments
        </h5>
        </div>
    </div>

    <!-- CARD BODY -->
    <div class="card-body">
      <div class="media mt-3 mb-3">
        <div class="d-flex pr-3">
          <img class="avatar" :src="photoTobeCommented.owner.avatar_src" alt="Generic placeholder image">
        </div>
        <div class="media-body">
          <h5 class="mt-0"> {{ photoTobeCommented.owner.name }}</h5>
          <span class="text-secondary">
            @{{ photoTobeCommented.owner.username }}
          </span>
          <p>
            {{ photoTobeCommented.description }}
          </p>
          <div class="d-inline-block ml-3">
            <small class="text-secondary"><timeago :since="photoTobeCommented.created + ' UTC'"></timeago>, </small>
            <small class="text-secondary">Likes: {{ photoTobeCommented.likes.count }}, </small>
            <small class="text-secondary">Commens: {{ photoTobeCommented.comments.count }}</small>
          </div>
        </div>
      </div>

      <hr class="mb-2">

      <div v-if="commentsAscCreated">
        <div class="alert alert-info" role="alert" v-show="completed">
          {{ getCommentsStatus }}
        </div>
        <div class="text-center" v-show="!loading && !completed">
          <a class="mdi mdi-plus-circle mdi-48px text-secondary" @click.prevent="getMoreComments"></a>
        </div>
        <loading-spinner :displayed="loading && !completed"></loading-spinner>

        <div id="comment-block">
          <comment-list-item
            v-for="comment in commentsAscCreated"
            :comment="comment"
            :key="comment.id"
          ></comment-list-item>
        </div>
      </div>

    </div>

    <!-- COMMENT FORM -->
    <div class="row">
      <form @submit.prevent="submitPhotoComment" class="form-inline" name="commentForm">
        <div class="input-group col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 fixed-bottom" id="comment-input">
          <textarea
            class="form-control"
            name="content"
            id="content"
            placeholder="Your comment" required></textarea>
          <div class="input-group-addon">
              <button type="submit"><i class="mdi mdi-send mdi-36px text-secondary"></i></button>
          </div>
        </div>
      </form>
    </div>

    <comment-update-form-modal></comment-update-form-modal>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import CommentListItem from './CommentListItem'
  import LoadingSpinner from '@/components/LoadingSpinner'
  import CommentUpdateFormModal from './CommentUpdateFormModal'

  export default {
    name: 'CommentList',

    data () {
      return {
        prevScrollHeight: 0,
        prevScrollTop: 0
      }
    },

    components: {
      CommentListItem, LoadingSpinner, CommentUpdateFormModal
    },

    computed: {
      ...mapGetters({
        comments: '$_comment/comments',
        completed: '$_comment/completed',
        getCommentsStatus: '$_comment/getCommentsStatus',
        photoTobeCommented: '$_photo/photoTobeCommented',
        loading: 'loading'
      }),
      commentsAscCreated () {
        return this.comments.sort(this.compare)
      }
    },

    methods: {
      ...mapActions({
        getComments: '$_comment/getComments'
      }),
      compare (a, b) {
        if (a.created < b.created) {
          return -1
        }
        if (a.created > b.created) {
          return 1
        }
        return 0
      },

      getMoreComments () {
        this.prevScrollHeight = document.documentElement.scrollHeight
        this.prevScrollTop = document.documentElement.scrollTop

        this.getComments()
      },

      submitPhotoComment () {
        let formElement = document.querySelector('form')
        this.$store.dispatch('$_comment/submitPhotoComment', new FormData(formElement))
          .then(() => {
            document.commentForm.content.value = ''
          })
      }
    },

    created () {
      this.$store.commit('$_comment/RESET_COMMENTS')
      this.getComments()
    },

    updated () {
      let commentBox = document.querySelector('#comment-block')
      if (commentBox) {
        let newScrollHeight = document.documentElement.scrollHeight
        let newScrollTop = document.documentElement.scrollTop

        if (this.prevScrollHeight > 0 && newScrollHeight > this.prevScrollHeight) {
          document.documentElement.scrollTop = (newScrollHeight - this.prevScrollHeight) - (newScrollTop - 2 * this.prevScrollTop)
        }
      }
      let route = this.$route
      if (route.hash && !(this.prevScrollHeight || this.prevScrollTop)) document.querySelector(route.hash).scrollIntoView()
      if (route.query.comment === 'create') document.commentForm.content.focus()
    }
  }
</script>

<style>
  .media-body .media {
    margin-right: -1.5rem;
  }

  .media-body h5 {
    margin-bottom: -.2rem;
  }
  .form-inline.fixed-bottom {
    bottom: 47px;
  }

  .form-inline textarea {
    resize: vertical;
  }

  .form-inline .input-group-addon {
    padding: .2rem .75rem;
  }

  form #comment-input {
    bottom: 54px;
  }
  form #comment-input textarea {
    min-height: 66px;
  }
</style>
