<template>
  <section class="page">
    <notification-list></notification-list>
  </section>
</template>

<script>
  import { NotificationList } from '@/modules/Notification'

  export default {
    name: 'Notification',

    components: {
      NotificationList
    }
  }
</script>
