<template>
  <main-layout></main-layout>
</template>

<script>
  import MainLayout from '@/layouts/main'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss">
  @import './styles/main.scss'
</style>
