<template>
  <section class="page">
    <photo-upload-form></photo-upload-form>
  </section>
</template>

<script>
  import { PhotoUploadForm } from '@/modules/Photo'

  export default {
    name: 'PhotoUpload',

    components: {
      PhotoUploadForm
    }
  }
</script>
