<template>
  <section class="page">
    <photo-details :id="id"></photo-details>
  </section>
</template>

<script>
  import { PhotoDetails } from '@/modules/Photo'

  export default {
    computed: {
      id: function () {
        return this.$route.params.id
      }
    },

    components: {
      PhotoDetails
    }
  }
</script>
