<template>
  <div class="container">

    <app-header></app-header>

    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 my-5">
        <router-view></router-view>
      </div>
    </div>

    <app-navbar></app-navbar>

    <vue-snotify></vue-snotify>
  </div>
</template>

<script>
  import Header from '@/views/partials/Header'
  import Navbar from '@/views/partials/Navbar'

  export default {
    components: {
      AppHeader: Header,
      AppNavbar: Navbar
    }
  }
</script>

<style lang="scss">
  .mb-5, .my-5 {
      margin-bottom: 4rem!important;
  }

  .mt-5, .my-5 {
      margin-top: 4rem!important;
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-body {
    padding-top: .5rem;
  }

  .avatar {
    width: 3rem;
    height: 3rem;
  }

  .loading-header {
    margin-top: 7.25rem;
  }

  .loading-footer {
    margin-bottom: 2.25rem;
  }

  .highlight {
    background-color: rgb(209, 236, 177)
  }

  .media-body > p {
      margin-bottom: .2rem;
  }

  .masonry {
      margin: .5em 0.5em 0.5em 0;
      padding: 0;
      -moz-column-gap: .5em;
      -webkit-column-gap: .5em;
      column-gap: .5em;
      font-size: .85em;
  }

  .masonry .item {
      display: inline-block;
      background: #fff;
      padding: .5em;
      margin: 0 0 .75em;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 2px 2px 4px 0 #ccc;
  }

  @media only screen and (min-width: 320px) {
      .masonry {
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2;
      }
  }

  @media only screen and (min-width: 700px) {
      .masonry {
          -moz-column-count: 3;
          -webkit-column-count: 3;
          column-count: 3;
      }
  }

  @media only screen and (min-width: 900px) {
      .masonry {
          -moz-column-count: 4;
          -webkit-column-count: 4;
          column-count: 4;
      }
  }

  @media only screen and (min-width: 1100px) {
      .masonry {
          -moz-column-count: 5;
          -webkit-column-count: 5;
          column-count: 5;
      }
  }

  ul.circle {list-style-type: circle;}
  ul.square {list-style-type: square;}
  ol.upper-roman {list-style-type: upper-roman;}
  ol.lower-alpha {list-style-type: lower-alpha;}

</style>
