<template>
  <p v-if="notification">
    <router-link :to="{ name: 'user.show', params: { id: comment.commenter.id }}">
      {{ comment.commenter.name }}
    </router-link>
    has given
    <a href="#" @click.prevent="viewPhotoComments(commentable_obj)"
      v-if="isFocusOnPhoto">
      a comment to your photo.
    </a>

    <a href="#" @click.prevent="viewChildComments(commentable_obj)"
      v-else-if="isFocusOnPhotoComment">
      a reply to your comment.
    </a>
  </p>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'CommentNotificationItem',
    props: ['notification'],

    computed: {
      comment () {
        return this.notification.data.comment
      },
      commentable_obj () {
        return this.notification.data.commentable_obj
      },
      isFocusOnPhoto () {
        return this.notification.data.comment.commentable_obj.type === 'App\\Photo'
      },
      isFocusOnPhotoComment () {
        return this.notification.data.comment.commentable_obj.type === 'App\\Comment'
      }
    },
    methods: {
      ...mapMutations({
        setPhotoTobeCommented: '$_photo/SET_PHOTO_TOBE_COMMENTED',
        setCommentTobeReplied: '$_comment/SET_COMMENT_TOBE_REPLIED'
      }),

      viewPhotoComments (photo) {
        this.setPhotoTobeCommented(photo)
        this.$router.push(
          {
            name: 'photo.comment.index',
            params: { id: photo.id },
            hash: '#bottom',
            query: { comment: 'view', cursor: btoa(this.comment.created), focus: 'yes' }
          })
      },
      viewChildComments (comment) {
        this.setCommentTobeReplied(comment)
        this.$router.push(
          {
            name: 'photo.comment.childcomment.index',
            params: { pid: comment.commentable_obj.photo_id, cid: this.comment.commentable_obj.grandparent_comment_id },
            hash: '#bottom',
            query: { comment: 'view', cursor: btoa(this.comment.created), focus: 'yes' }
          })
      }
    }
  }
</script>
