<template>
  <p v-if="notification">
    <router-link :to="{ name: 'user.show', params: { id: notification.data.follower.id }}">
      {{ notification.data.follower.name }}
    </router-link>
    has followed you
  </p>
</template>

<script>
  export default {
    name: 'FollowNotificationItem',
    props: ['notification']
  }
</script>
