<template>
  <p v-if="notification">
    <router-link :to="{ name: 'user.show', params: { id: like.liker.id }}">
      {{ like.liker.name }}
    </router-link>
    has liked your

    <router-link :to="{ name: 'photo.show', params: { id: likeable_obj.id }}"
      v-if="isFocusOnPhoto">
      photo.
    </router-link>

    <a href="#" @click.prevent="viewPhotoComments(likeable_obj)"
      v-else-if="isFocusOnPhotoComment">
      comment.
    </a>

    <a href="#" @click.prevent="viewChildComments(likeable_obj)"
      v-else-if="isFocusOnChildComment">
      comment.
    </a>
  </p>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'LikeNotificationItem',
    props: ['notification'],

    computed: {
      like () {
        return this.notification.data.like
      },
      likeable_obj () {
        return this.notification.data.likeable_obj
      },
      isFocusOnPhoto () {
        return this.notification.data.like.likeable_obj.type === 'App\\Photo'
      },
      isFocusOnPhotoComment () {
        return this.notification.data.like.likeable_obj.type === 'App\\Comment' &&
                this.notification.data.likeable_obj.commentable_obj.photo
      },
      isFocusOnChildComment () {
        return this.notification.data.like.likeable_obj.type === 'App\\Comment' &&
                this.notification.data.likeable_obj.commentable_obj.grandparent_comment_id
      }
    },
    methods: {
      ...mapMutations({
        setPhotoTobeCommented: '$_photo/SET_PHOTO_TOBE_COMMENTED',
        setCommentTobeReplied: '$_comment/SET_COMMENT_TOBE_REPLIED'
      }),

      viewPhotoComments (comment) {
        let cursor = btoa(comment.created)

        this.setPhotoTobeCommented(comment.commentable_obj.photo)
        this.$router.push(
          {
            name: 'photo.comment.index',
            params: { id: comment.commentable_obj.photo.id },
            hash: '#bottom',
            query: { comment: 'view', cursor: cursor, focus: 'yes' }
          })
      },
      viewChildComments (comment) {
        let cursor = btoa(comment.created)

        this.setCommentTobeReplied(comment)
        this.$router.push(
          {
            name: 'photo.comment.childcomment.index',
            params: { pid: comment.commentable_obj.photo_id, cid: comment.commentable_obj.grandparent_comment_id },
            hash: '#bottom',
            query: { comment: 'view', cursor: cursor, focus: 'yes' }
          })
      }
    }
  }
</script>
