<template>
  <div>
    <!-- LOADING SPINNER -->
    <loading-spinner :displayed="initialLoading && loading"></loading-spinner>

    <!-- VUE COMPONENT FOR INFINITE-SCROLL & PULL-TO-REFRESH -->
    <vue-data-loading :loading="loading" :completed="completed" :listens="['pull-down', 'infinite-scroll']" @infinite-scroll="getNotifications" @pull-down="getNotificationsRefresh">
      <!-- SLOT FOR PULL-TO-REFRESH -->
      <div slot="pull-down-before">Pull down to refresh the data</div>
      <div slot="pull-down-ready">Ready to refresh</div>
      <div slot="pull-down-loading">
        <loading-spinner :displayed="loading"></loading-spinner>
        Refreshing ...
      </div>

      <!-- NOTIFICATION LIST -->
      <div v-if="notifications.length">
        <notification-list-item
          v-for="notification in notifications"
          :notification="notification"
          :key="notification.id"
        ></notification-list-item>
      </div>

      <!-- SLOT FOR PULL-UP-TO-LOAD-MORE -->
      <div slot="pull-up-before">Pull up to load the data</div>
      <div slot="pull-up-ready">Ready to load</div>
      <div slot="pull-up-loading">
        <loading-spinner :displayed="loading"></loading-spinner>
        Loading...
      </div>

      <!-- SLOT FOR INFINITE-SCROLL -->
      <div slot="infinite-scroll-loading">
        <loading-spinner :displayed="loading"></loading-spinner>
        Loading...
      </div>
      <div slot="completed">Completed loading data</div>
    </vue-data-loading>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import VueDataLoading from 'vue-data-loading'
  import NotificationListItem from './NotificationListItem'
  import LoadingSpinner from '@/components/LoadingSpinner'

  export default {
    name: 'NotificationList',

    components: {
      VueDataLoading, NotificationListItem, LoadingSpinner
    },

    computed: {
      ...mapGetters({
        notifications: '$_notification/notifications',
        completed: '$_notification/completed',
        initialLoading: 'initialLoading',
        loading: 'loading'
      })
    },

    methods: {
      ...mapActions({
        getNotifications: '$_notification/getNotifications',
        getNotificationsRefresh: '$_notification/getNotificationsRefresh'
      })
    },

    created () {
      if (!this.notifications.length) {
        this.getNotifications()
      }
    }
  }
</script>

<style>
</style>
