<template>
  <div class="alert" :class="readColorClass" role="alert">
    <div v-if="isFollowNotification">
      <follow-notification-item
          :notification="notification">
      </follow-notification-item>
    </div>
    <div v-else-if="isCommentNotification">
      <comment-notification-item
          :notification="notification">
      </comment-notification-item>
    </div>
    <div v-else-if="isLikeNotification">
      <like-notification-item
          :notification="notification">
      </like-notification-item>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import FollowNotificationItem from './FollowNotificationItem'
  import CommentNotificationItem from './CommentNotificationItem'
  import LikeNotificationItem from './LikeNotificationItem'

  export default {
    name: 'NotificationListItem',
    props: ['notification'],

    components: {
      FollowNotificationItem, CommentNotificationItem, LikeNotificationItem
    },

    computed: {
      readColorClass () {
        return !this.notification.read_at ? 'alert-info' : 'alert-light'
      },
      isFollowNotification () {
        return this.notification.type === 'App\\Notifications\\FollowNotification'
      },
      isCommentNotification () {
        return this.notification.type === 'App\\Notifications\\CommentNotification'
      },
      isLikeNotification () {
        return this.notification.type === 'App\\Notifications\\LikeNotification'
      }
    },

    methods: {
      ...mapActions({
        markNotificationAsRead: '$_notification/markNotificationAsRead',
        markNotificationAsUnread: '$_notification/markNotificationAsUnread'
      }),

      toggleItemRead (notification) {
        if (!this.notification.read_at) {
          this.markNotificationAsRead(notification.id)
        } else {
          this.markNotificationAsUnread(notification.id)
        }
      }
    }
  }
</script>
